@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Amatic+SC:wght@400;700&family=Bebas+Neue&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url(../images/фон.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.form {
    margin-left: 43%;
    margin-top: 12%;
    align-content: center;
    display: block;
}

.login {
    margin-bottom: 5px;
}

.password {
    margin-bottom: 5px;
}

.signInButton {
    margin-right: 8px;
}

.footer {
    margin-top: 14%;
    margin-left: 3%
}

.registrationButton:hover,.signInButton:hover {
    border-radius: 7%;
    border-color: grey;
    cursor: pointer;
}

.buttons {
    margin-top: 1%;
}